<VirtualHost *:80>
    ServerName {{ domain }}
    {% if subdomain != False %}
    ServerAlias {{ subdomain }}
    {% endif %}
    ServerAdmin {{ email }}

    DocumentRoot /var/www/{{ domain }}

    ErrorLog ${APACHE_LOG_DIR}/{{ domain }}-error.log
    CustomLog ${APACHE_LOG_DIR}/{{ domain }}-access.log combined

    Alias /.well-known/acme-challenge/ "/var/www/webroot/.well-known/acme-challenge/"

    <Directory />
        Options FollowSymLinks
        AllowOverride ALL
    </Directory>

    <Directory /var/www/{{ domain }}>
        Options FollowSymLinks MultiViews
        AllowOverride ALL
        Order allow,deny
        Allow from all
    </Directory>
#RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteRule ^ https://www.{{ domain }}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>