#!/bin/sh
# System time variables (DO NOT CHANGE)
fulldate=$(date +"%c")

# Schedule reload apache2 for Let's encrypt SSL renew
/etc/init.d/apache2 reload > /dev/null
echo "[apache2] schedule reload on $fulldate" >> /srv/logs/services-status.log
