#!/bin/sh
# Create logs directory
logs="/srv/logs"

# System time variables (DO NOT CHANGE)
fulldate=$(date +"%c")

# Schedule reload apache2 for Let's encrypt SSL renew
/etc/init.d/apache2 reload > /dev/null
echo "[apache2] schedule reload on $fulldate" >> $logs/services-status.log
