----------------
# Create & install SSL for domains
sudo certbot certonly --webroot --webroot-path /var/www/webroot --register-unsafely-without-email --renew-by-default -d domain.com

# MySQL login
mysql -uroot -p{{ sql_pass }} -h127.0.0.1
================