#!/bin/bash
# [Docker] MySQL/MariaDB Backup Daily Scripts (MAX:15 backups) By: Roy Tan @ Yooniks Co. ltd | Jul 14, 2019

# Database variables (*required)
 db_user="root"
 db_password="password"
 db_name="db1"

# Backup path (DO NOT CHANGE)
 path="/srv/mariadb/SQLbackup/$db_name-daily"
 logs="/srv/mariadb/logs"

# System time variables (DO NOT CHANGE)
 day=$(date +"%m.%d.%Y")
 fulldate=$(date +"%c")
 date=$(date +"%m.%d.%Y-%H:%M")

# Create directory (command)
 mkdir -p $path
 mkdir -p $logs

# Dump database into SQL file (command)
 docker exec mariadb /usr/bin/mysqldump -u$db_user --password=$db_password $db_name > $path/$db_name-$day.sql

# Record logs (command)
 echo "[daily] backup $db_name is completed on $fulldate" >> $logs/MySQL-daily-backup.log

# Clean up files longer than 15 days [ 15 x 1440 = 21600 ] (command)
 find $path/*.sql -type f -mmin +21600  -exec rm {} \;