#!/bin/bash
# [Docker] MySQL/MariaDB Backup Daily Scripts (MAX:15 backups) By: Roy Tan @ Yooniks Co. ltd | Aug 24, 2021

# Database variables (*required)
 db_user="root"
 db_password="rjo3-fcpTqe-4BB"

# System time variables (DO NOT CHANGE)
 day=$(date +"%m.%d.%Y")
 fulldate=$(date +"%c")
 date=$(date +"%m.%d.%Y-%H:%M")

# Dump database into SQL file (command)
 docker exec mariadb /usr/bin/mysql -s -r -u$db_user --password=$db_password -e 'show databases' -N | while read dbname; do 
   path="/srv/mariadb/SQLbackup/$dbname-daily"
   mkdir -p $path
   docker exec mariadb /usr/bin/mysqldump -u$db_user --password=$db_password --complete-insert --single-transaction "$dbname" > $path/$dbname-$day.sql
   echo "[daily] backup $dbname is completed on $fulldate" >> /srv/mariadb/logs/MySQL-daily-backup.log
   find $path/*.sql -type f -mmin +21600  -exec rm {} \;
 done
