#!/bin/bash
# [Docker] MySQL/MariaDB Backup monthly Scripts (MAX:6 backups) By: Roy Tan @ Yooniks Co. ltd | Jul 14, 2019

# Database variables (*required)
 db_user="root"
 db_password="password"
 db_name="db1"

# Backup path (DO NOT CHANGE)
 path="/srv/mariadb/SQLbackup/$db_name-monthly"
 logs="/srv/mariadb/logs"

# System time variables (DO NOT CHANGE)
 day=$(date +"%m.%d.%Y")
 fulldate=$(date +"%c")
 date=$(date +"%m.%d.%Y-%H:%M")

# Create directory (command)
 mkdir -p $path
 mkdir -p $logs

# Dump database into SQL file (command)
 docker exec mariadb /usr/bin/mysqldump -u$db_user --password=$db_password $db_name > $path/$db_name-$day.sql

# Record logs (command)
 echo "[monthly] backup $db_name is completed on $fulldate" >> $logs/MySQL-monthly-backup.log

# Clean up files longer than 180 days [ 180 x 1440 = 259200 ] (command)
 find $path/*.sql -type f -mmin +259200 -exec rm {} \;